In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import arff  # de liac-arff

In [3]:
DATA_DIR = "../data/raw"

ADULT_PATH = os.path.join(DATA_DIR, "dataset")
HAR_PATH   = os.path.join(DATA_DIR, "php0gEU7D.arff")
GAS_PATH   = os.path.join(DATA_DIR, "phpN4gaxw.arff")

In [4]:
import arff
import pandas as pd

with open("../data/raw/dataset") as f:
    data = arff.load(f)

columns = [attr[0] for attr in data["attributes"]]
adult_df = pd.DataFrame(data["data"], columns=columns)

In [5]:
print(len(adult_df.columns))  # Debe ser 15

15

In [8]:
print((adult_df == '?').sum())

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [7]:
print(adult_df.columns.tolist())

['age', 'workclass', 'fnlwgt', 'education', 'education.num', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'capital.gain', 'capital.loss', 'hours.per.week', 'native.country', 'income']